* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  color: #585858;
  margin: 0px auto;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.15rem;
  font-weight: 900;
  color: #ff7b00;
  text-align: center;
  text-transform: lowercase;
  margin-top: 5rem;
}

h2 {
  font-size: 1rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: #9e9e9e;
  text-align: center;
  margin-bottom: 1rem;
}

p {
  font-size: 0.9rem;
  color: #9e9e9e;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
#cart_productos button {
  height: 2rem;
  width: 2rem;
  border: none;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  background-color: #f07400;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
}
.btn {
  border: none;
  height: 2rem;
  padding: 0 15px;
  color: #fff;
  border-radius: 4rem;
  text-decoration: none;
  text-align: center;
  background-color: #f07400;
  cursor: pointer;
}

.btn:hover {
  background-color: #9c1a00;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.btn__label {
  font-weight: 600;
  margin-right: 0.75rem;
}
div#wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
div#wrapper > div {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  border-radius: 0.5rem;
}
#catalogo {
  border: solid 1px #bbb;
}

.product {
  border-radius: 1rem;
  color: black;
}

.product .precio {
  text-align: right;
  font-weight: 800;
  color: #8f1e07;
  margin-left: 0.5rem;
}

#catalogo .product {
  width: 200px;
  height: 150px;
  margin: 1rem;
  padding: 1rem;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0px 3px hsl(0deg 0% 0% / 0.3);
}

#carrito .product {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}

#carrito .product .familia {
  display: none;
}

#carrito .product .titulo {
  display: inline-block;
}

#carrito .product .precio {
  display: inline-block;
}

#carrito {
  border: solid 1px #cccccc;
  background-color: #e4e4e4;
  min-width: 300px;
}
