#delivery {
    display: flex;
    padding: 1rem;
    margin: 0.75rem 0;
    border: solid 1px #CCC;
    background-color: #FFF;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 0.5rem;
}

.text {
    font-size: .9rem;
    color: #666;
    font-weight: bold;
    padding: .15rem;
    margin: .15rem;
}