#cart_productos>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px;
    justify-content: flex-start;
    align-content: center;
}

#cart_productos .titulo {
    display: block;
}

#cart_productos .precio {
    display: block;
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
}

#cart_productos button {
    height: 2rem;
    width: 2rem;
    border: none;
    text-decoration: none;
    text-align: center;
    border: 1px solid #00BEF0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
    margin: 2px;
}

#carrito .product {
    padding: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}

#carrito .product .familia {
    display: none;
}

#carrito .product .titulo {
    display: block;
}

#carrito .product .precio {
    display: block;
}

.checkout {
    font-weight: 900;
    margin: 5px;
}

.total {
    background-color: #0082A3;
    color: #FFF;
    padding: 5px;
    margin: 5px;
}

#carrito {
    border: solid 1px #00BEF0;
    background-color: #E4E4E4;
    min-width: 300px;
}