#snackbar {
    position: fixed;
    top: 90px;
    right: 1rem;
    width: 20rem;
    height: 4rem;
    margin-right: -21rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    padding: 1rem;
}